.headerIndex{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.contenedorVideoIndex{
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.contenedorLogoIndex{
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 18.75rem;
}
.contenedorMenuIndex{
    width: 100%;
    display: flex;
    justify-content:center;
    padding-left: 5.625rem;
    padding-top: 15.625rem;
    
    li { 
        list-style: none;
        display: inline;
        margin-right: 6.25rem;
        a{
            @include botonesHeaderIndex;
        }
    }
}
.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  .mouse-btn {
    margin: 100px auto;
    width: 40px;
    height: 80px;
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
  }
  
  .mouse-scroll {
    display: block;
    width: 20px;
    height: 20px;
    background: linear-gradient(170deg, black, black);
    border-radius: 50%;
    margin: auto;
    animation: scrolling13 1s linear infinite;
  }
  
  @keyframes scrolling13 {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(20px);
    }
  }
  


  