@mixin flexbox($justify,$align,$direction,$wrap,$gap){
    display: flex;
    justify-content:$justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
    gap: $gap;
};

@mixin grid($columns,$rows,$columnGap,$rowGap,$areas){
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows:$rows;
    column-gap: $columnGap;
    row-gap: $rowGap;
    grid-template-areas: $areas;
};

@mixin botonesHeaderIndex {
    font-size: 1.25rem;
    text-decoration: none;
    padding: .625rem 1.25rem;
    background-color: #dccbb6;
    border: .0625rem solid #252525;
    border-radius: .5rem;
    color: #383838;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@mixin botonesHeader{
    font-size: 1.125rem;
    text-decoration: none;
    padding: .3125rem .9375rem;
    background-color: #dccbb6;
    border: .0625rem solid #252525;
    border-radius: .5rem;
    color: #383838;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@mixin style-text-400{
    font-family: "Oswald";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@mixin style-text-700{
    font-family: "Oswald";
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}